@font-face {
  font-family: "Aptos";
  src: url("/lung-screening-flow/public/fonts/aptos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bierstadt";
  src: url("/fonts/bierstadt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bierstadt-bold";
  src: url("/fonts/bierstadt-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;
@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #043a66 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Thickness of vertical scrollbar */
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #043a66;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  height: 20px;
}
